.resultsContainer {
	margin-top: 10px;
	overflow-y: auto;
	width: 90%;

	.resultItem {
		padding: 8px;
		border-bottom: 1px solid #ccc;
		cursor: pointer;
	}

	.focusedItem {
		background-color: #0078d4;
		color: white;
		font-weight: 700;
		cursor: pointer;
	}
}
