.container {
	margin-top: 10px;
	box-sizing: border-box;
	padding: 20px 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 20px;

	.resultItem {
		list-style: none;
		padding: 10px 10px 10px 30px;
		font-size: 16px;
		display: flex;
		align-items: center;
		cursor: pointer;
		border-radius: 30px;
	}

	.nolist {
		padding-left: 30px;
		color: #6a737b;
		margin-top: 20px;
	}

	.focusedItem {
		list-style: none;
		padding: 10px 10px 10px 30px;
		font-size: 16px;
		display: flex;
		align-items: center;
		cursor: pointer;
		outline: 0;
		background-color: #fff;
	}
}

.subTitle {
	color: #6a737b;
	font-size: 13px;
	margin: 0;
	padding-left: 30px;
}

.text {
	font-size: 16px;
	margin: 0 0 0 12px;
}
